#main-navbar
{
    background-color: green;
    overflow:hidden;
    float: left;
    width: 100%;
    position: relative;
}
#main-navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    left: 50%;
    right: 50%;
}
#main-navbar li
{
    float: left;
}
#main-navbar a
{
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
#main-navbar a:hover
{
    float: left;
    background-color: #000;
    text-decoration: underline overline;
    display: block;
}
#onpage
{
    float: left;
    background-color: #000;
    display: block;
}
#sidebar
{
    position: fixed;
    right: 0%;
    height: 100%;
    width: 30%;
    background-color: orange;
}
